extends layout

block content

  header 
    h1= title
    form.searchbar(action="/books" method="GET")
      input(name="q" placeholder="Search for a title, author, genre, or year...")
      button(type="submit") Search
  br
  p
    a.button(href='/books/new') Create New Book
  table(data-books=books)
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books.slice(0,5)
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year
  footer
    - var pageCount = 1;
    while pageCount <= Math.ceil(count/5)
      a.button(href=`/books?q=${queryTerm}&page=${pageCount}` class=`page ${ page == pageCount ? 'active' : '' }`)= pageCount++


