extends layout

block content
  p.create
    a.button(href='/books/new') Create New Book
  form.searchbar(action="/books" method="GET")
    input(name="q" placeholder="Search for a title, author, genre, or year...")
    button(type="submit") Search
  br
  if books.length != 0
    table(id='books' class='stripe')
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href=`/books/${book.id}`)= book.title
            td= book.author
            td= book.genre
            td= book.year
  else
    p Sorry, no books matched your search for #{queryTerm}!
  if queryTerm 
    p
      a.button(href='/books') Home
  script(src="javascripts/main.js")


