doctype html
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1" name="viewport")

    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='stylesheet' href='/stylesheets/reset.css')
    //- importing jQuery and DataTables library
    script(
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js" 
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" 
      crossorigin="anonymous")
    script(src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js')

    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/table.css')
  body
    main
      h1= title
      block content
